/* Fondo morado para toda la página */
body {
    background-color: #4B0082;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para la imagen en la esquina */
.logo-esquina {
    position: absolute ;
    top: 500px;
    right: 800px;
    opacity: 0.8;
}

.container {
    text-align: center;
    padding: 60px 20px;
}

/* Estilos para el footer */
.footer-diferenciado {
    background-color: #310055; /* Un morado más oscuro */
    padding: 40px 0;
    margin-top: 50px;
    text-align: center;
}

.redes-iconos .enlace-icono {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

.redes-iconos .enlace-icono:hover {
    color: #E0B0FF; /* Efecto al pasar el mouse */
}

.linea-separadora {
    height: 1px;
    background: rgba(255,255,255,0.2);
    width: 60%;
    margin: 20px auto;
}

.imagen-seccion {
    margin-top: 30px; /* Separa la imagen del video */
    text-align: center;
}

.logo-centrado {
    border-radius: 15px; /* Opcional: le da bordes redondeados a la imagen */
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); /* Opcional: le da una sombra elegante */
}